html {
  font-size: 62.5%; /* Reset font to 10px, makes sizing using rem's super easy */
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  background-color: #b0b0b0;
}

.masthead {
  padding: 9.6rem 0;
  background-image: url("http://i.imgur.com/5xUkdPB.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0 solid #3f515d;
  border-width: 1.6rem 0;
  text-align: center;
}

  .masthead__title {
    font-size: 3.2rem;
    color: #fff;
    font-family: "Gentium Book Basic", serif;
    line-height: 1.4;
  }

    .masthead__title strong {
      text-transform: uppercase;
      font-size: 9.6rem;
      font-family: "Open Sans", sans-serif;
    }

.wrapper {
  margin: 3.2rem auto 0;
  width: 60.8rem;
}

.content__section {
  border-bottom: 0.2rem solid #6a8494;
}

  .content__title {
    font-size: 2.4rem;
  }

  .content__subtitle {
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
  }

  .content__subtitle + p {
    margin-bottom: 3.2rem;
    margin-top: 0;
  }

  .content__para {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing -0.05em;
  }

a:link,
a:visited {
  text-decoration: none;
  color: aqua;
}

a:hover,
a:active,
a:focus {
  color: red;
}

.footer {
  text-align: center;
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
}

  .footer__title {
    font-weight: 300;
    font-size: 1.6rem;
  }

.footer__social {
  list-style:: none;
  text-align: center;
}

.footer__social li {
  display: inline-block;
  padding: 1rem;
  background-color: #6a8494;
  border-radius: 1rem;
  margin: 0 0.8rem;
}

.footer__social li:first-of-type {
  margin-left: 0;
}

.footer__social li:last-of-type {
  margin-right: 0;
}