html {
  font-size: 62.5%; /* Reset font to 10px, makes sizing using rem's super easy */
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  background-color: #b0b0b0;
}

a:link,
a:visited {
  text-decoration: none;
  color: aqua;
}

a:hover,
a:active,
a:focus {
  color: navy;
}

.masthead {
  padding: 9.6rem 0;
  background-image: url("http://i.imgur.com/5xUkdPB.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-top: 5px solid #3f515d;
  margin-bottom: 0;
}

  .masthead__title {
    font-size: 3.2rem;
    color: #fff;
    font-family: "Gentium Book Basic", serif;
    line-height: 1.4;
  }

.masthead__title strong {
    text-transform: uppercase;
    font-size: 9.6rem;
    font-family: "Open Sans", sans-serif;
}


  
.top-navigation {
  margin-top: -10px;
  background-color: #3f515d;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 9999;

}

.top-navigation .nav-menu li {
  display: inline;
  padding: 5px;
  font-size: 2rem;
  text-align: center;
  margin-right: 15px;
}
.top-navigation .nav-menu {
  text-align: center;
}

.active {
  color: pink;
  text-shadow: 1px 1px 3px #333;
}

.wrapper {
  margin: 3.2rem auto 0;
  width: 60.8rem;
}

.content__section {
  border-bottom: 0.1rem solid #6a8494;
}

  .content__title {
    font-size: 2.4rem;
  }

  .content__subtitle {
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
  }

  .content__subtitle + p {
    margin-bottom: 3.2rem;
    margin-top: 0;
  }

  .content__para {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing -0.05em;
  }

.projects {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.projects-display li {
  display: inline-block;
  margin: 1rem;
}

.project-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  list-style: none;
  margin-bottom: 2px;
}

.project-picture {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 10px solid #6a8494;
}


.footer {
  text-align: center;
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
}

  .footer__title {
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
  }

.footer__social {
  list-style:: none;
  text-align: center;
}

.footer__social li {
  display: inline-block;
  padding: 1rem;
  background-color: #6a8494;
  border-radius: 1rem;
  margin: 0 0.8rem;
}

.footer__social li:first-of-type {
  margin-left: 0;
}

.footer__social li:last-of-type {
  margin-right: 0;
}




@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .footer {
    padding: 0 3rem;
  }
}

@media only screen and (min-width: 550px)




